@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-cyan: hsl(229, 23%, 23%);
  --dark-greyish-blue: hsl(227, 10%, 46%);

  --font: "Kumbh Sans";
}

body {
  background: var(--dark-cyan);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(./images/bg-pattern-bottom.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  max-width: 355px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.background {
  background: url(./images/bg-pattern-card.svg);
  height: 130px;
  /* max-width: 375px; */
  border-radius: 10px 10px 0px 0px;
  position: relative;
  padding: 1rem;
}

.background img {
  width: 30%;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem;
}

h2 {
  font-family: var(--font);
  color: var(--very-dark-cyan);
  font-size: 20px;
  margin-block-start: 2rem;
}

article > p:first-of-type {
  font-weight: 100;
  color: var(--dark-greyish-blue);
  margin-top: 10px;
  font-size: 15px;
}

p {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  color: var(--very-dark-cyan);
  font-weight: 700;
  margin: 25px 0px;
  font-size: 18px;
}

p > span {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

span {
  color: var(--dark-greyish-blue);
  font-weight: 100;
}

.footer::before {
  content: "";
  width: 100%;
  border-bottom: solid 1px lightgray;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

img {
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 20px;
}
